@import "tailwindcss";

html {
  font-size: var(--font-size-md);
}

/* Chrome autofillのスタイルを上書き */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #2f3231 !important;
  box-shadow: 0 0 0 1000px #ffffff inset !important;
  background-color: #ffffff !important;
  caret-color: #2f3231 !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
}

@theme {
  /* default initial values */
  --*: initial;

  /* color */
  --color-base: #e5dcd1;
  --color-main: #6e8366;
  --color-accent: #765b40;
  --color-black: #2f3231;
  --color-white: #ffffff;
  --color-gray: #aaaaaa;
  --color-error: #f44336;

  /* spacing */
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 52px;
  --spacing-14: 56px;
  --spacing-15: 60px;
  --spacing-16: 64px;
  --spacing-17: 68px;
  --spacing-18: 72px;
  --spacing-19: 76px;
  --spacing-20: 80px;
  --spacing-21: 84px;
  --spacing-22: 88px;
  --spacing-23: 92px;
  --spacing-24: 96px;
  --spacing-25: 100px;
  --spacing-26: 104px;
  --spacing-27: 108px;
  --spacing-28: 112px;
  --spacing-29: 116px;
  --spacing-30: 120px;
  --spacing-full: 100%;

  /* radius */
  --radius-full: 9999px;
  --radius-xl: 40px;
  --radius-lg: 20px;
  --radius-md: 16px;
  --radius-sm: 12px;

  /* font-size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;

  /* font-family */
  --font-m-plus: var(--font-m-plus-1p), sans-serif;
  --font-sen: var(--font-sen), sans-serif;

  /* font-weight */
  --font-weight-normal: 300;
  --font-weight-medium: 500;
}
